<a href="https://colab.research.google.com/github/MMoronto/pytorch_exercises/blob/master/Peutingar_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Dictionary

In [3]:
# Regular EDA(Exploratory Data Analysis) and plotting libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# We want our plots to appear within our code
%matplotlib inline

# Models from Scikit-Learn
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# Model Evaluations
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score, recall_score, f1_score

In [11]:
df = pd.read_csv("sample_data/Salient_cement_stats.csv")
df
# df.shape

,TABLE 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"SALIENT CEMENT STATISTICS1, 2",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(Thousand metric tons unless otherwise specified),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,2014,2015,2016,2017,2018
5,United States:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Production:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cement3,NaN,NaN,"82,535","84,405","84,695","86,356","86,400"
8,Clinker,NaN,NaN,"74,372","76,043","75,633","76,678","77,112"
9,"Shipments from mills and terminals:3, 4",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Quantity,NaN,NaN,"88,900","92,000","94,300","96,900","98,500"
11,Value5,thousand dollars,NaN,"8,940,000","9,800,000","10,500,000","11,300,000","11,900,000"
12,Average value5,dollars per metric ton,NaN,100.5,106.5,111,117,121
13,"Stocks, yearend:",NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Cement,NaN,NaN,"6,140","7,230","7,420","7,870","8,580"
15,Clinker,NaN,NaN,"4,530","4,840","5,430","5,330","5,340"
16,Exports,NaN,NaN,"1,397","1,543","1,097","1,035",940
17,Imports:6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Cement,NaN,NaN,"7,584","10,376","11,742","12,288","13,764"
19,Clinker,NaN,NaN,720,879,"1,496","1,209",967
20,Total9,NaN,NaN,"8,303","11,254","13,237","13,497","14,731"
21,"Consumption, apparent10",NaN,NaN,"89,220","92,150","95,150","97,160","98,480"
22,"World, productione, 11",NaN,NaN,"4,150,000","4,070,000","4,150,000","4,110,000","4,050,000"
23,eEstimated. rRevised.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1Table includes data available through April 6...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2Excludes Puerto Rico.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3Includes imported cement and cement made from...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4Shipments to final domestic customers. Data a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5Free on board mill or independently reporting...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,6All forms of hydraulic cement or clinker.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,7Adjusted by the U.S. Geological Survey to inc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,8Adjusted by the U.S. Geological Survey to exc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,9May not add to totals shown because of indepe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,10Production (including that from imported cli...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,11Total hydraulic cement. May include clinker ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN